<head>
  {%- include google-analytics.html -%}
  <title>Hey Nova | Branding, Designing, Developing</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/favicons/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="Description" content="Evolving the way companies communicate to their audience by creating cohesive brands, user-centred design, and inclusive code.">
	<meta name="Keywords" content="Web Design, Web Development, Victoria, British Columbia, Marketing, User Experience, Branding">

	<!-- Search Engine -->
	<meta name="image" content="http://heynova.io/assets/images/logo.png">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="Hey Nova | Branding, Designing, Developing">
	<meta itemprop="image" content="http://heynova.io/assets/images/logo.png">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta name="og:title" content="Hey Nova | Branding, Designing, Developing">
	<meta name="og:image" content="http://heynova.io/assets/images/logo.png">
	<meta name="og:url" content="http://heynova.io/">
	<meta name="og:site_name" content="Hey Nova">
	<meta name="og:locale" content="en_CA">
	<meta name="fb:admins" content="2013556608884601">
	<meta name="fb:app_id" content="218605005420695">
	<meta name="og:type" content="website">

	<script src="https://use.fontawesome.com/49dcb9bf1f.js"></script>

</head>
