.canvas {
	overflow: hidden;
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	.sky {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: rotate 250s infinite linear;
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.stars {
  opacity: .5;
}
.stars.large {
  height: 2px;
  width: 2px;
  background: transparent;
  border-radius: 50%;
  animation: blink-large 7s infinite 4s both;
  opacity: .85;
}
.stars.medium {
  height: 2px;
  width: 2px;
  background: transparent;
  border-radius: 50%;
  animation: blink-medium 5s infinite 2s both;
}
.stars.small {
  height: 1px;
  width: 1px;
  background: transparent;
  border-radius: 50%;
  animation: blink-small 3s infinite;
}

