---
layout: default
class: home
---

<div class="home">
  <div class="top-tout">

    <div class="canvas">
      <div class="sky">
        <div class="stars large"></div>
        <div class="stars medium"></div>
        <div class="stars small"></div>
      </div>
    </div>

    <div class="wrapper">
      <div class="left-col">
        <h1 class="page-heading">HEY<span class="nova">NOVA</span></h1>
        <p class="tagline">Designing Experiences</p>
        <p class="call-out">Evolving the way companies communicate to their audience by creating cohesive brands, user-centred design, and inclusive code.</p>
        <p class="email"><a href="#consult">Contact Us</a></p>
      </div>
    </div>
  </div>
  <div class="what-we-do">
    <div class="wrapper">
      <div class="sticker">
        <h2>What we do</h2>
        <p><strong>Hey Nova</strong>, takes an unique approach to our work, blending form and functionality to build first-rate innovations with cohesion throughout the brand, design, and code.</p>
         <img alt="Photo of Devices" class="devices" src="{{ site.url }}/assets/images/devices.png" />
      </div>
    </div>
      <div class="col-3">
        <div class="wrapper">
          <div class="inner-col ux">
            <h3>User Experience</h3>
            <p>Using research into the psychology of human interaction, we integrate practices such as behavioural design and gamification to create innovative applications with exceptional user experience. With user journeys and user personas, we are able to map out designs that will keep your target users engaged and always coming back for more.</p>
          </div>
          <div class="inner-col brand">
            <h3>Branding</h3>
            <p>Whether it you are a solo entrepreneur developing a personal brand, a senior organization wanting a refresh, or an up and coming business starting from scratch, we will help you find your voice and share the story that speaks to your target audience.</p>
          </div>
          <div class="inner-col accessibility">
            <h3>Accessibility</h3>
            <p>As experts in accessibility, we strive to be the catalyst that drives more website towards being accessible by people with blindness, colour blindness, limitations in mobility, and more,  by helping organizations old and new get their websites up to accessibility standards. Learn more about whether your website is accessible and how this might be affecting your bottom line.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="why-we-do">
    <div class="wrapper">
      <h2>Why we do it</h2>
      <p>We created <b>HEY NOVA</b> to build an environment of <strong>inclusivity and diversity</strong> within tech, as well as bringing awareness to the importance of having <strong>accessible websites and applications</strong>.</p>
      <p>This is not just a job for us at <b>Hey Nova</b>, it is a passion. When we are not working, we are <strong>committed to mentoring</strong> other people trying to get into tech through workshops and other avenues, and keeping those spaces inclusive for everyone wanting to learn.</p>
    </div>
  </div>
  <div class="who">
    <div class="wrapper">
      <h2 class="sticker2">The women behind the brand,<br /> the <span>co-founders of Hey <span>Nova</span></span></h2>
    </div>
    <div class="wrapper">
      <div class="col">
        <div class="inner-col">
           <img alt="Photo of Kirsten with Award" src="{{ site.url }}/assets/images/kirsten.jpg" />
          <div class="copy-container kirsten">
            <h3>Kirsten Dodd</h3>
            <p>Kirsten is an experienced strategist, designer, developer, and leader, with extensive experience in the industry-leading technical teams, and specializing in web accessibility in both design and development. Business woman by day, by night she is an advocate for inclusivity in tech, by mentoring people trying to break into the industry.</p>
          </div>
        </div>
        <div class="inner-col">
          <img alt="Photo of Bryony in a chair" src="{{ site.url }}/assets/images/bryony.jpg" />
          <div class="copy-container bryony">
            <h3>Bryony Anderson</h3>
            <p>Bryony’s entrepreneurial spirit drives her to be continually learning and using her constant thirst for knowledge to bring her business strategy, creativity, and innovation to the next level.  As a web designer, developer, and a writer, she has a vast range of skills that she applies to everything she does.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
